{% include 'navbar.html' %}
{% block content %}


    <section class="container py-lg-5 text-center align-center" >

{#    <h1>Streaming </h1>#}
{#    <img src="{{ url_for('video_feed') }}">#}
	<iframe src="http://127.0.0.1:5000/" scrolling="yes" width=100% height=700px style=""></iframe>
    <div class="text-center">
        <a href="http://192.168.1.69/onRingLed" style="width: 100px;" class="btn btn-success">Led on</a>
        <a href="http://192.168.1.69/offRingLed" style="width: 100px;" class="btn btn-danger">Led off</a>
        <a href="http://192.168.1.69/onAutoRing" style="width: 100px;" class="btn btn-success">Ring on</a>
        <a href="http://192.168.1.69/offAutoRing" style="width: 100px;" class="btn btn-danger">Ring off</a>
        <a href="http://192.168.1.69/onSensor" style="width: 100px;" class="btn btn-success">Sensor on</a>
        <a href="http://192.168.1.69/offSensor" style="width: 100px;" class="btn btn-danger">Sensor off</a>
        <a href="http://192.168.1.69/onFlash" style="width: 100px;" class="btn btn-success">Flash on</a>
        <a href="http://192.168.1.69/offFlash" style="width: 100px;" class="btn btn-danger">Flash off</a>
    </div>
	</section>


{% endblock %}
{% include 'footer.html' %}