<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    {% csrf_token %}
    <div class="login">
        <h2>{{error}}</h2>
        <form action="" method="POST" class="needs-validation">
            {% csrf_token %}
            <div class="form-group was-validated">
                <label class="form-label" for="username">Email</label>
                <input class="form-control" type="email" name="username" required>
                <div class="invalid-feedback">
                    Please enter the email...
                </div>
            </div>

            <div class="form-group was-validated">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="confirmPassword" required>
                <div class="invalid-feedback">
                    Please enter the password...
                </div>
            </div>

            <div class="form-group was-validated">
                <label class="form-label" for="password">Confirm Password</label>
                <input class="form-control" type="password" name="password" required>
                <div class="invalid-feedback">
                    Please enter same the password...
                </div>
            </div>

            <input class="btn btn-success w-100" type="submit" value="Sign up">
        </form>
        <div className='w-100 text-center mt-2'>
            Already have an account? <a href="/">Log In</a>
        </div>
    </div>
</body>
</html>