<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Ring</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <form action="" method="POST" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <h3 class="form-label" for="username">Sensor</h3>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="ring">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Ring Notifications</label>
                </div>
            </div>
            <input class="btn btn-success w-30 mb-4 mt-4" type="submit" value="Sugoi">
        </form>
    </div>
    {% endblock %}
</body>
</html>