<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Sensor</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="text-center">
            <div class="mb-4">
                <h3>Manage the Ring Led </h3>
                <a href="http://192.168.1.69/onRingLed" style="width: 100px;" class="btn btn-success">Led on</a>
                <a href="http://192.168.1.69/offRingLed" style="width: 100px;" class="btn btn-danger">Led off</a>
            </div>

            <div class="mb-4">
                <h3>Manage the Auto Ring </h3>
                <a href="http://192.168.1.69/onAutoRing" style="width: 100px;" class="btn btn-success">Ring on</a>
                <a href="http://192.168.1.69/offAutoRing" style="width: 100px;" class="btn btn-danger">Ring off</a>
            </div>

            <div class="mb-4">
                <h3>Manage the Sensor </h3>
                <a href="http://192.168.1.69/onSensor" style="width: 100px;" class="btn btn-success">Sensor on</a>
                <a href="http://192.168.1.69/offSensor" style="width: 100px;" class="btn btn-danger">Sensor off</a>
            </div>
           
            <div class="mb-4">
                <h3>Manage the Flash </h3>
                <a href="http://192.168.1.69/onFlash" style="width: 100px;" class="btn btn-success">Flash on</a>
                <a href="http://192.168.1.69/offFlash" style="width: 100px;" class="btn btn-danger">Flash off</a>
            </div>
          
        </div>
    </div>
    {% endblock %}
</body>
</html>